.cardWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.imgWrap {
	width: 140px;
	margin-bottom: 20px;
}

.titleWrap {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.title {
	font-size: 18px;
	font-weight: 900;
	margin-right: 20px;
}

.span {
	font-size: 18px;
	font-weight: 900;
}
