.item {
	border: 1px solid #818181;
	border-radius: 8px;
	padding: 20px 20px 50px;
	transform: scale(1);
	box-shadow: rgba(192, 191, 191, 0) 0px 2px 8px 0px;
	transition: scale 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

	&:hover {
		transform: scale(1.02);
		box-shadow: rgba(161, 161, 161, 0.575) 0px 2px 8px 0px;
	}
}

.itemModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.imgWrap {
	width: 170px;
	height: 300px;
	margin: 0 auto;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	object-fit: contain;
}

.titleWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.title {
	font-size: 18px;
	font-weight: 900;
	color: #dddcdc;
}

.titleModal {
	color: #213547;
	margin-right: 20px;
}

.span {
	font-size: 18px;
	font-weight: 900;
}
